/* Fuente y fondo */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #252424, #ffffff);
  height: 100vh;
  margin: auto;
  padding: 0;
}

.main-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.login-container {
  display: flex;
  flex-direction: row;
  width: 100%;             /* ocupa el 90% horizontal */
  max-width: 1000px;      /* más ancho que el actual */
  height: 600px;
  margin: auto;           /* centra horizontalmente */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: fadeIn 0.8s ease-in-out;
}

/* Imagen lateral (también más grande en altura) */
.login-image {
  width: 50%;
  background: url('/img/fundallogotipo.jpg') no-repeat center center;
  background-size: cover;
}

/* Formulario (más espacioso) */
.login-form {
  width: 50%;
  background: rgba(255, 255, 255, 0.95);
  padding: 80px 60px;              /* MÁS ESPACIO INTERNO */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Campos de entrada (más grandes) */
.form-control {
  padding: 16px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}


.btn-primary {
  padding: 16px;
  font-size: 1.1rem;
  border-radius: 10px;
}
.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
}

.input-group .form-control,
.input-group .btn {
  border-radius: 8px !important;
  height: 65px;
}


/* Mensaje de error */
.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    height: auto;
  }

  .login-image {
    display: none;
  }

  .login-form {
    width: 100%;
    padding: 40px 20px;
  }
}

.login-footer {
  position: fixed;
  bottom: 15px;
  right: 20px;
  font-size: 0.9rem;
  color: #333;
  font-style: italic;
  opacity: 0.7;
  z-index: 999;
}

